
@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Grenze+Gotisch:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:rgba(53, 53, 53, 1);
}

grenze-gotisch-<uniquifier> {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

::-webkit-scrollbar {
  height: 10px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  bottom: 120%; 
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.85rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
